.vs/
Debug/
Release/
c-simple-emu6502-cbm.vcxproj.user
roms/
*.exe
obj/
debug.cfg
debug_custom.json
esp32.svd
esp32s3.svd
browser-keyscan-helper/node_modules
c-simple.DC68A2E0/
!roms/
roms/c128/
roms/c64/
roms/pet/
roms/ted/
roms/test/
roms/vic20/
roms/minimum/wozmon*
roms/minimum/sweet16*
roms/minimum/abasic*
roms/minimum/apple.bin
roms/minimum/src/wozmon.asm
roms/minimum/src/abasic.asm
roms/minimum/src/sweet16.asm
!roms/minimum/testmin.bin
!roms/minimum/src/testmin.asm
!roms/minimum/src/build.sh
*.swp
disks/
